#wrapper{
    width: 700px;
    height: auto;
    border: solid 1px #000;
    padding: 10px;
    background-color:#a6e1ec ;
}
.ListItems{
    width: 520px;
    padding: 10px ;
    margin-bottom: 5px;
    font-size: 14px;
    border:solid 1px #000;
    list-style-type:none ;
}
.IMG{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;

}
.text{
    color: #2EA620;
}